/* You can add global styles to this file, and also import other style files */
.body{
    padding: 10px 0;
}

html, body{
    height: 100%;
}

.pointer{
    cursor: pointer;
}
.form-inline>*{
    margin-right: 5px;
}