<label for="collection">Collection: </label>
<select name="collection" id="collection" class="form-control" (change)="onChangeCollection($event.target.value)">
    <option value=""></option>
    <option *ngFor="let col of collections" [value]="col.id">{{ col.name }}</option>
</select>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let restaurant of collectionRestaurants">
        <app-collection-restaurant-item [restaurant]="restaurant"></app-collection-restaurant-item>
    </li>
</ul>